.loginform {
    text-align: center;
}
form {
    margin: 60px;
    margin-top: 15px;
}

form label {
    display: block;
    margin: 10px 0px;
    font-family:arial;
    
}
button{
    margin:8px;
    width:auto;
    padding:2px;

}
