html, body , #root{
    height: 100%;
}
.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg") no-repeat center center;
    background-size: cover;
}

.into-image-height{
    height: 600px
}

.signin-container, .signup-container{
    height: 79%;
}

.images-container {
    min-height: 85%;
}